.input-wrapper input {
    color: #ECDFCC; /* Set the text color to match the body's text color */
    background-color: #3C3D37;
    border-radius: 50px; /* Increased border-radius for more rounded corners */
    padding: 0.5em 1em 0.5em 2em; /* Adjust left padding to accommodate the prefix while keeping it close */
    width: 7em; /* Reduced width from 8em to 7em */
    font-family: Menlo, monospace;
    font-size: 3em; /* Adjusted font size for better readability */
    text-align: left; /* Align text to the left */
    text-transform: uppercase; /* Transform text to uppercase */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    border: none; /* Remove border */
    outline: none; /* Remove default focus outline */
    box-shadow: none; /* Remove default focus box-shadow */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
        max-width: none;
    }

    .squares {
        gap: 24px; /* Adjusted for better spacing */
        margin-bottom: 24px; /* Adjusted margin */
    }

    .square {
        width: 120px; /* Further adjusted size for mobile */
        height: 120px; /* Further adjusted size for mobile */
    }

    .input-wrapper input {
        width: 80%; /* Adjust width to fit smaller screens */
        padding: 0.5em 1em 0.5em 2em; /* Adjust padding for mobile */
        font-size: 3em; /* Ensure font size is appropriate for mobile */
    }
}
